language: haxe

haxe:
  - development
  - 3.4.2
  
os:
  - linux
  - osx

sudo: false

addons:
  apt:
    packages:
    - mono-complete
    - python3

before_install:
  - if [[ "${TRAVIS_OS_NAME}" == "osx" ]]; then 
      brew update;
      brew install mono;
      brew install python3;
      echo 'export PATH="/usr/local/Cellar/python3/3.6.1/bin/python3:$PATH"' >> ~/.bash_profile;
    fi
  - mono --version;
  - python --version;

install:
#  - yes | haxelib install test.hxml
#  - if [ "${TRAVIS_HAXE_VERSION}" = "development" ]; then
#      haxelib git hxcpp https://github.com/HaxeFoundation/hxcpp.git;
#      pushd $(haxelib path hxcpp | head -1);
#        pushd tools/hxcpp; haxe compile.hxml; popd;
#        pushd project; neko build.n; popd;
#      popd;
#    else
#      haxelib install hxcpp;
#    fi
  - haxelib install hxcpp;
  - haxelib install hxjava;
  - haxelib install hxcs;
  - haxelib install mlib;
  - haxelib install mcover;

script:
  - haxe build.hxml
